apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  namespace: core
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
        - name: payment-service
          image: your-registry/payment-service:latest
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: payment-service-config
              optional: true
            - secretRef:
                name: payment-service-secrets
              optional: true
